/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

html,
body {
  padding: 3rem 1rem;
  margin: 0;
  min-height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}
img {
  width: 100%;
  max-width: 100%;
  height: auto;
}
a {
  font-weight: bold;
}
h2 {
  padding-bottom: 10px;
}
h3 {
  font-size: 24px;
  margin: 5px 0;
}
a,
button {
  outline: none;
  cursor: pointer;
}
