{
  "presets": [
    [
      "next/babel",
      {
        "preset-react": {
          "runtime": "automatic",
          "importSource": "@emotion/react"
        },
        "class-properties": { "loose": false }
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-proposal-export-default-from",
    ["@babel/plugin-proposal-decorators", { "legacy": true}],
    [
      "module-resolver", {
        "alias": {
          "@components": "./src/components",
          "@link": "./src/lib/router/Link",
          "@lib": "./src/lib",
          "@grid": "./src/lib/styles/grid",
          "@modules": "./src/modules"
        }
      }
    ]
  ]
}
