{
  "presets": [
    ["next/babel"]
  ],
  "plugins": [
    "lodash",
    "emotion",
    [
      "module-resolver", {
        "alias": {
          "@components": "./src/components",
          "@features": "./src/features",
          "@lib": "./src/lib",
          "@router": "./src/router",
        }
      }
    ]
  ]
}
