{
  "presets": [
    [
      "next/babel",
      {
        "class-properties": { "loose": true }
      }
    ],
    "@emotion/babel-preset-css-prop"
  ],
  "plugins": [
    "lodash",
    ["@babel/plugin-proposal-decorators", { "legacy": true}],
    [
      "module-resolver", {
        "alias": {
          "@components": "./components",
          "@features": "./features",
          "@lib": "./lib",
          "@router": "./router",
        }
      }
    ]
  ]
}
